# Local .terraform directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Sensitive data files
*.pem
*.key
*.pub
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

# Transient lock info files
.terraform.tfstate.lock.info

# Generated JSON files
operations/automation-script/*.json
operations/sentinel-policies-scripts/*.json
